PORT=3000
NODE_ENV=development
AUTH_SERVICE_URL=http://localhost:3001
SCHOOL_SERVICE_URL=http://localhost:3002
USER_SERVICE_URL=http://localhost:3003
ACADEMIC_SERVICE_URL=http://localhost:3004
FEE_SERVICE_URL=http://localhost:3005
NOTIFICATION_SERVICE_URL=http://localhost:3006
INTERNAL_API_KEY=your_internal_api_key_here
