PORT=3001
MONGO_URI=mongodb://localhost:27017/school_auth_db
# MONGO_URI=MONGO_URI=mongodb://localhost:27017/school_school_db
JWT_SECRET=supersecret
JWT_REFRESH_SECRET=supersecretrefresh
NODE_ENV=development



# email: admin@school.com
# password: superadmin123
# role: super_admin